[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rapidphylo"]
	path = rapidphylo
	url = https://github.com/arindamroychoudhury/rapidphylo
